//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Match the GOV.UK font size, prototyping kit uses a smaller font for the footer
.govuk-footer {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}
