{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK cookie banner page
{% endblock %}

{% block bodyStart %}
<div id="global-cookie-message" data-module="cookie-banner" data-nosnippet="" aria-label="Cookies on GOV.UK" class="gem-c-cookie-banner govuk-clearfix govuk-cookie-banner js-banner-wrapper" role="region" hidden="hidden">
  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK</h2>
        <div tabindex="-1" class="govuk-cookie-banner__content gem-c-cookie-banner__confirmation">
          <div class="gem-c-cookie-banner__content"><p class='govuk-body'>We use essential cookies to make this website work. We also collect general information about how GOV.UK is used. You can opt out of these.</p><p class='govuk-body'>We'd like to set additional cookies to help us improve the website, remember your settings and improve government services.</p><p class='govuk-body'>You cannot be directly identified from the data.</p></div>
          <p class="gem-c-cookie-banner__confirmation-message--accepted govuk-body" hidden
            data-ga4-cookie-banner 
            data-module="ga4-link-tracker"
            data-ga4-track-links-only
            data-ga4-set-indexes
            data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;cookie banner&quot;,&quot;section&quot;:&quot;You have accepted additional cookies&quot;}"
          >You have accepted additional cookies. <span class="gem-c-cookie-banner__confirmation-message">You can <a class="govuk-link" href="help/cookies">change your cookie settings</a> at any time.</span></p>
          <p class="gem-c-cookie-banner__confirmation-message--rejected govuk-body" hidden>You have rejected additional cookies. <span class="gem-c-cookie-banner__confirmation-message">You can <a class="govuk-link" href="help/cookies">change your cookie settings</a> at any time.</span></p>
        </div>
      </div>
    </div>
    <div class="js-confirmation-buttons govuk-button-group">
        

  <button class="gem-c-button govuk-button" type="submit" data-accept-cookies="true" data-cookie-types="all">Accept additional cookies</button>


        

  <button class="gem-c-button govuk-button" type="submit" data-reject-cookies="true">Reject additional cookies</button>


        <a class="govuk-link" href="help/cookies">View cookies</a>
    </div>
    <div hidden class="js-hide-button govuk-button-group">
      <button
        class="gem-c-cookie-banner__hide-button govuk-button"
        data-hide-cookie-banner="true"
        data-module="ga4-event-tracker"
         data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;cookie banner&quot;,&quot;action&quot;:&quot;closed&quot;,&quot;section&quot;:&quot;You have accepted additional cookies&quot;}" >
          Hide cookie message
        </button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">This is a landing page</h1>
{% endblock %}
