{% extends "layouts/main.html" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Renew your driving licence - GOV.UK
{% endblock %}

{% block bodyStart %}
<div id="global-cookie-message" data-module="cookie-banner" data-nosnippet="" aria-label="Cookies on GOV.UK" class="gem-c-cookie-banner govuk-clearfix govuk-cookie-banner js-banner-wrapper" role="region" hidden="hidden">
  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK</h2>
        <div tabindex="-1" class="govuk-cookie-banner__content gem-c-cookie-banner__confirmation">
          <div class="gem-c-cookie-banner__content">
            <p class="govuk-body">We use some cookies to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                make the website work - these are essential and always on
              </li>
              <li>
                understand how the website is being used - you can opt out of these on the cookie settings page
              </li>
            </ul>
            <p class='govuk-body'>We’d like to use additional cookies to make the website better - for example, to improve how search is working.</p>
          </div>

          <p class="gem-c-cookie-banner__confirmation-message--accepted govuk-body" hidden
            data-ga4-cookie-banner 
            data-module="ga4-link-tracker"
            data-ga4-track-links-only
            data-ga4-set-indexes
            data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;cookie banner&quot;,&quot;section&quot;:&quot;You have accepted additional cookies&quot;}"
          >You have accepted additional cookies. <span class="gem-c-cookie-banner__confirmation-message">You can <a class="govuk-link" href="help/cookies">change your cookie settings</a> at any time.</span></p>
          <p class="gem-c-cookie-banner__confirmation-message--rejected govuk-body" hidden>You have rejected additional cookies. <span class="gem-c-cookie-banner__confirmation-message">We still collect general information about how GOV.UK is used. You can <a class="govuk-link" href="help/cookies">change your cookie settings</a> at any time.</span></p>
        </div>
      </div>
    </div>
    <div class="js-confirmation-buttons govuk-button-group">      

      <button class="gem-c-button govuk-button" type="submit" data-accept-cookies="true" data-cookie-types="all">Accept additional cookies</button> 
      
      <button class="gem-c-button govuk-button" type="submit" data-reject-cookies="true">Keep default cookies</button> 

      <button class="gem-c-button govuk-button" type="submit" data-reject-cookies="true">Use essential cookies only</button>

      <a class="govuk-link" href="help/cookies">Change your cookie settings</a>
  </div>

    <div hidden class="js-hide-button govuk-button-group">
      <button
        class="gem-c-cookie-banner__hide-button govuk-button"
        data-hide-cookie-banner="true"
        data-module="ga4-event-tracker"
         data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;cookie banner&quot;,&quot;action&quot;:&quot;closed&quot;,&quot;section&quot;:&quot;You have accepted additional cookies&quot;}" >
          Hide cookie message
        </button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Renew your driving licence</h1>

      <p class="govuk-body">Renew your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          full driving licence
        </li>
        <li>
          provisional driving licence
        </li>
      </ul>

      <p class="govuk-body">It costs £14 when you apply online.</p>

      <p class="govuk-body">You must renew a photocard licence every 10 years - you’ll receive a reminder before your current licence ends.</p>
      <p class="govuk-body">To renew your licence, you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          be a resident of Great Britain (there’s a different service in Northern Ireland)
        </li>
        <li>
          not be disqualified from driving
        </li>
      </ul>

      <p class="govuk-body">You’ll need to apply for your first provisional licence if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          you’ve never applied for a provisional licence before
        </li>
        <li>
          you applied for a provisional licence before 1 March 1973
        </li>
      </ul>

      <p class="govuk-body">There’s a different way to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          renew your licence if you’re 70 or over
        </li>
        <li>
          renew a 5-year bus or lorry licence
        </li>
        <li>
          renew a short-term medical driving licence
        </li>
      </ul>

      <div class="govuk-inset-text">
        This page is also available in Welsh (Cymraeg).
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">If you cannot use the online service, you can apply at a Post Office or by post.</p>

      <h3 class="govuk-heading-s">If your name or title has changed</h3>

      <p class="govuk-body">If your name or title has changed since you got your current driving licence, you must apply by post. You cannot renew it online or at a Post Office.</p>

      <h2 class="govuk-heading-m">Sign in to renew online</h2>

      <p class="govuk-body">You’ll need to sign in to use this service. If you do not already have sign in details, you’ll be able to create them.</p>

      <p class="govuk-body">You’ll be told when you sign in if you need to prove your identity. This is to keep your details safe and usually involves using photo ID like a passport or driving licence.</p>

      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">After you renew online</h2>

      <p class="govuk-body">Your new licence will be valid from the date your application is approved, not from the expiry date of your current licence.</p>

      <h2 class="govuk-heading-m">How much it costs</h2>

      <p class="govuk-body">Renewing your licence online costs £14. You can pay by MasterCard, Visa, Electron or Delta debit or credit card (there’s no fee if you’re over 70 or have a medical short period licence).</p>

      <h2 class="govuk-heading-m">How long it takes</h2>

      <p class="govuk-body">Your driving licence should arrive within a week if you apply online.</p>

      {{ govukInsetText({
        text: "You must send your old photocard licence to DVLA when you get your new licence. You’ll be told the address to use when you finish the application."
      }) }}

      
  </div>
</div>

{% endblock %}

{% block footer %}

{% include "pages-v5/_partials/footer.html" %}

{%endblock %}