{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK cookie banner page
{% endblock %}

{% block bodyStart %}
  <form action="cookie-banner" method="post" novalidate>
    {{ govukCookieBanner({
      ariaLabel: "Cookies on GOV.UK",
      messages: [
        {
          headingText: "Cookies on GOV.UK",
          html: '<p class="govuk-body">We use cookies to make this website work. We also collect some information about how GOV.UK is used.</p>
            <p class="govuk-body">We’d like to set additional cookies to help us improve the website, remember your settings and improve government services.</p>',
          actions: [
            {
              text: "Accept additional cookies",
              type: "submit",
              name: "cookies",
              value: "yes"
            },
            {
              text: "Reject additional cookies",
              type: "submit",
              name: "cookies",
              value: "no"
            },
            {
              text: "Change your cookie settings",
              href: "/pages/cookies.html"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">This is a landing page</h1>
{% endblock %}
