
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cookies on GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/pages/cookie-banner.html"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Cookies on GOV.UK</h1>
        <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>

        <p class="govuk-body">We use cookies to collect and store information about how you use the GOV.UK website and government digital services, such as the pages you visit. 'Government digital services' means any page with service.gov.uk in the URL.</p>

        <p class="govuk-body">This page has a brief explanation of each type of cookie we use.<a href="/pages/cookie-details.html"> Read our detailed cookie information</a> if you want to know more.</p>

        <h2 class="govuk-heading-l">Cookie settings</h2>

        <p class="govuk-body">We use 4 types of cookies. You can choose which cookies you're happy for us to use.</p>

        <form action="/form-handler" method="post" novalidate>
             <h3 class="govuk-heading-m">Cookies that measure website use</h3>

            <p class="govuk-body">We use Google Analytics cookies to measure how you use GOV.UK and government digital services. These cookies collect information about things like:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    how you got to these sites
                </li>
                <li>
                    the pages you visit
                </li>
                <li>
                    how long you spend on each page on GOV.UK
                </li>
                <li>
                    what you click on while you're visiting these sites
                </li>
            </ul>

            <p class="govuk-body">We collect this information to improve the website.</p>
            <p class="govuk-body">We use Google Analytics cookies to collect information in two ways:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    measure general website usage
                </li>
                <li>
                    understand user behaviour in more detail 
                </li>
                
            </ul>

            <p class="govuk-body">You’re automatically opted in for gathering general information about how the website is used. You can change your cookie preferences below.</p>

            <p class="govuk-body">We also use LUX Real User Monitoring software cookies from SpeedCurve to for example measure how well the website performed on your device during your visit and if there were any JavaScript errors. </p>

            <p class="govuk-body">We do not allow Google or SpeedCurve to use or share this data for their own purposes.</p>

            {{ govukRadios({
            name: "cookies[website-use]",
            idPrefix: "cookies-website use",
            fieldset: {
                legend: {
                text: "Do you want to accept website use cookies?",
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                value: "aggregate",
                text: "Use only cookies that measure general website usage",
                checked:true
                },
                {
                value: "yes",
                text: "Use additional cookies that measure user behaviour and web performance"
                },
                {
                value: "no",
                text: "Do not use any cookies that measure website usage"
                }
            ]
            }) }}
        
            <div class="govuk-phase-banner govuk-body govuk-!-margin-bottom-5">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-tag--purple govuk-phase-banner__content__tag">
                    Checkpoint
                    </strong>
                    <span class="govuk-phase-banner__text">
                    Decide if we use hint text instead
                    </span>
                </p>
            </div>

            <h3 class="govuk-heading-m">Cookies that help with our communications and marketing</h3>
            <p class="govuk-body">These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on GOV.UK.</p>

            {{ govukRadios({
            name: "cookies[campaigns]",
            idPrefix: "cookies-campaigns",
            fieldset: {
                legend: {
                text: "Do you want to accept marketing cookies?",
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                value: "yes",
                text: "Use cookies that help with communications and marketing"
                },
                {
                value: "no",
                text: "Do not use cookies that help with communications and marketing",
                checked: true
                }
            ]
            }) }}

            <h3 class="govuk-heading-m">Cookies that remember your settings</h3>
            <p class="govuk-body">These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.</p>

            {{ govukRadios({
            name: "cookies[settings]",
            idPrefix: "cookies-settings",
            fieldset: {
                legend: {
                text: "Do you want to accept settings cookies?",
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                value: "yes",
                text: "Use cookies that remember my settings on the site"
                },
                {
                value: "no",
                text: "Do not use cookies that remember my settings on the site",
                checked: true
                }
            ]
            }) }}

            <div class="govuk-phase-banner govuk-body govuk-!-margin-bottom-5">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-tag--purple govuk-phase-banner__content__tag">
                    Checkpoint
                    </strong>
                    <span class="govuk-phase-banner__text">
                    End of checkpoint
                    </span>
                </p>
            </div>

            <h3 class="govuk-heading-m">Strictly necessary cookies</h3>
            <p class="govuk-body">These essential cookies do things like remember your progress through a form (for example a licence application).</p>
            <p class="govuk-body">They always need to be on.</p>

            {{ govukButton({
            text: "Save changes"
            }) }}
            
        </form>


        <h3 class="govuk-heading-m">Government services</h3>
        <p class="govuk-body">Government digital services are run by different government departments, such as the Department for Work and Pensions (DWP) and HM Revenue and Customs (HMRC).</p>
        <p class="govuk-body">These services may set additional cookies and, if so, will have their own cookie policy and banner linking to it.</p>


    </div>

</div>



{% endblock %}