{% extends "layouts/admin.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      GOV.UK Prototype
    </h1>

    <h2 class="govuk-heading-m">User journeys</h2>

    <p class="govuk-body">Cookies consent journey <a href="/pages/cookie-banner.html" class="govuk-link govuk-!-font-weight-bold">version 1.0.0</a>.</p>

    <p class="govuk-body">Cookies consent journey <a href="/pages-v2/cookie-banner.html" class="govuk-link govuk-!-font-weight-bold">version 2.0.0</a>.</p>

    <p class="govuk-body">Cookies consent journey <a href="/pages-v3/start.html" class="govuk-link govuk-!-font-weight-bold">version 3.0.0</a>.</p>
    
  </div>
</div>

{% endblock %}