{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/modules.js"></script>
  <script src="/public/javascripts/cookie-functions.js"></script>
  <script src="/public/javascripts/cookie-banner.js"></script>
  <script src="/public/javascripts/cookie-settings.js"></script>
{% endblock %}


{% block header %}

  {{ govukHeader({
    homepageUrl: "#"
  }) }}
   
{% endblock %}

