{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}


{% block header %}

    {{ govukHeader() }}
   
{% endblock %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block footer %}

{{ govukFooter({
  meta: {
    items: [
        {
        href: "/pages/privacy-notice.html",
        text: "Privacy"
      },
      {
        href: "/pages/cookies.html",
        text: "Cookies"
      }
      
    ]
  }
}) }}

{% endblock %}